Question_question{
    display: flex;
    justify-content: center;
}
.answerButton{
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
}

.answerButton:hover{
    opacity: 0.5;
    cursor: pointer;
}

