p {
    font-size: 14px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.popupButton {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #551A8B;
    background: none;
    border: none;
    font-weight: bolder;
    opacity: 0.8;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.popupButton:hover {
    opacity: 1;
}

.popupButton:visited {
    text-decoration: none;
}

.closeButton{
    display: block;
    justify-content: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    background-color: papayawhip;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 67%;
    margin-bottom: 50px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.8;
    border: none;
}

.closeButton:hover {
    opacity: 0.5;
    cursor: pointer;
    text-decoration: none;
}

@media only screen and (min-width: 560px) {
    .closeDiv{
        display: block;
        text-align: center;
        width: 100%;
    }

    .closeButton{
       text-align: center;
       widows: 100%;
    }

    p{
        font-size: 1.3em;
    }
}