.resultDiv {
    display: block;
    text-align: center;
}

.headlineResult {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    border: 5px dotted black;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.textResult {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.textQuestions {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

.textCorrectAnswer {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1.4em;
    margin-bottom: 1em;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (min-width: 560px) {
    .headlineResult {
        margin-top: 4em;
    
    }

    .textResult{
        margin-bottom: -2em;
    }

    .textQuestions{
        text-align: center;
    }

    .textCorrectAnswer{
        text-align: center;
    }
}