.headlineCustomGame {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.customRow {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    min-width: 300px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: -15px;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 1em;
    margin-bottom: 4px;
}

::placeholder{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#createPinCodeCustom {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: solid 0px;
    transition: all 0.3s ease;
    width: 150px;
    margin-bottom: 1em;
    margin-left: 5px;
    padding: 0.85em;
}

#createPinCodeCustom:hover {
    opacity: 0.5;
    cursor: pointer;
}

.questionsInQuiz{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

@media only screen and (min-width: 560px) {
    .headlineCustomGame{
        margin-top: 2.8em;
        margin-bottom: 1em;
        font-size: 2.5em;
    }

    .customRow{
        font-size: 1em;
    }

    #addCustomQuestion{
        font-size: 1.2em;
        padding-left: 15px;
    }
}