svg {
    width: 30%;
    height: auto;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.logoName {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 52px;
    font-weight: 700;
}

.codeInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}



input[type=text] {
    padding: 16px;
    margin: 16px 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: solid 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
}

.playButton{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: solid 0px;
    transition: all 0.3s ease;
    padding: 16px;
    width: 50%;
}

.playButton:hover{
    opacity: 0.5;
    cursor: pointer;
}

.newGame {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
}

#newGameButton {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #551A8B;
    background: none;
    border: none;
    font-weight: bolder;
    opacity: 0.8;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

#newGameButton:hover {
    opacity: 1;
}

#newGamebutton:visited{
    text-decoration: none;
}

textarea:focus, input:focus{
    outline: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 560px) {
    .playButton {
        width: 200px;
    }
    #newGameButton{
        font-size: 20px;
    }
  }