.headline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
}

.form {
    margin-left: 77.5px;
}

select {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    min-width: 220px;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    border: 0px dotted #000000;
    border-radius: 10px;
    background: #E6E6E6;
    color: rgb(105, 105, 105);
    transition: all 0.3s ease;
}

select:hover {
    color: #000000;
    background: #CCCCCC;
}

#createPinCode:hover {
    opacity: 0.5;
    cursor: pointer;
}

option {
    font-size: 16px;
}

#generateCustomGame {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #551A8B;
    background: none;
    border: none;
    font-weight: bolder;
    opacity: 0.8;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#generateCustomGame:hover {
    opacity: 1;
}

#generateCustomGame:visited {
    text-decoration: none;
}

textarea:focus, input:focus {
    outline: none;
}

@media only screen and (min-width: 560px) {
    .headline {

        font-size: 48px;
    }

    .form {
        margin-left: 43.5%;
    }

    #generateCustomGame{
        font-size: 20px;
    }

    option{
        font-weight: bolder;
    }

  }