.headline{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.random{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 32px;
}

#startGameButton{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: solid 0px;
    transition: all 0.3s ease;
    height: 50px;
    margin-top: 20px;
    margin-left: 93.75px;
}

.button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.instructions{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-top: 16px;

}

@media only screen and (min-width: 560px) {
    .headline {
        margin-top: 50%; /*Funkar ej!!*/
    }

    #startGameButton{
        display: flex;
        justify-content: center;
        width: 150px;
        margin-left: 46%;
    }
  }

